mixin sub-header(title, text)
    div.sub-header
      div.sub-header__content
        div.sub-header__body
          div.sub-header__title Создать паспорт
          div.sub-header__text Форма создания паспорта
