include ../../ui/ui.pug
include ../../head/head.pug
include ../../foot/foot.pug
include ../../logo/logo.pug
include ../../language/language.pug
include ../../user/user-header.pug
include ../../header/header.pug
include ../../sidebar/sidebar.pug

doctype html
html(class="no-js", lang="ru")
  +head(data)
  body.page.page--cpanel.page--open-sidebar
    div.page__header
      +header(data)
    aside.page__sidebar.mdc-drawer.mdc-drawer--dismissible
      div.page__sidebar-content.mdc-drawer__content
        +sidebar(data)

    div.page__content.mdc-drawer-app-content
      main.page__main.main-content(id="pageMain")
        block main

    +foot(data)
