mixin logo(mod)
  - mod = mod || false;
  a(
    class=!mod ? 'logo' : 'logo' + ' logo--' + mod
    href="/",
    title="Реестр государственных информационных ресурсов и информационных систем государственных органов")
    div.logo__body
      div.logo__text Реестр государственных&nbsp;информационных ресурсов и&nbsp;информационных&nbsp;систем государственных органов
