.password-form{
  $_: '.password-form';
  padding: $grid-gutter-width*2;
  margin: 0 auto;
  max-width: 1024px;
  @include mdc-shape-radius($mdc-shape-small-component-radius);
  @include mdc-theme-property(background, $mdc-theme-surface);
  @include mdc-elevation(2);;
  &__content{}
}

@import './password-form.responsive';
